<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebApp.DemoService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://192.168.1.42/DemoService.svc" binding="basicHttpBinding"
                bindingConfiguration="WebApp.DemoService" contract="ServiceReference1.IDemoService"
                name="WebApp.DemoService" />
        </client>
    </system.serviceModel>
</configuration>