<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <!--<remove path="*.svc" verb="*"/>-->
      <!--<add path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="False"/>-->

    </httpHandlers>
    <customErrors mode="RemoteOnly"  defaultRedirect="Error.html"/>

  </system.web>
  <system.webServer>
    <handlers>

      <add name="wcfService" path="*.svc" verb="POST" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="wcfGet" path="*.svc" verb="GET" type="SvcHandler.SvcGetHandler, SvcHandler" /> 
    </handlers>
    
 
  </system.webServer>


  <system.serviceModel>
    <bindings>

      <basicHttpBinding>
        <binding name="httpBinding"></binding>
        <binding name="httpsBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>

        <behavior name="">
          <!--<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />-->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>

      </serviceBehaviors>
    </behaviors>


    <services>
      <service behaviorConfiguration=""   name="WebApp.DemoService">

        <endpoint binding="basicHttpBinding" bindingConfiguration="httpBinding"
                  name="WebApp.DemoService" contract="WebApp.IDemoService" />

        <endpoint binding="basicHttpBinding" bindingConfiguration="httpsBinding"
                         name="WebApp.DemoService" contract="WebApp.IDemoService" />

        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
      </service>
    </services>

  </system.serviceModel>
</configuration>
