<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="httpBinding">

        </binding>
        <binding name="httpsBinding">
          <security mode="Transport" />
        </binding>


      </basicHttpBinding>

    </bindings>

    <client>

      <!--BasicHttpBinding_IDemoService-->
      <endpoint address="http://192.168.1.42:92/DemoService.svc" binding="basicHttpBinding"
                bindingConfiguration="httpBinding" contract="DemoServiceRef.IDemoService"
                name="http" />

      <endpoint address="https://192.168.1.42/DemoService.svc" binding="basicHttpBinding"
                bindingConfiguration="httpsBinding" contract="DemoServiceRef.IDemoService"
                name="https" />
    </client>
  </system.serviceModel>
</configuration>